/*Style sheet for the App component*/

.light {
  background-color: beige;
  color: black;
  min-height: 100vh;
  padding: 20px;
}

.dark {
  background-color: #222;
  color: white;
  min-height: 100vh;
  padding: 20px;
}
.light h1 {
  color: #6F4E37; /* Coffee brown */
}

.dark h1 {
  color: #F5E6CA; /* Cream */
}